<!DOCTYPE html>
<html>
  <head>
    <title>Aandtr1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- bootstrap mobile first -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- mobile first - no zooming -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->

  </head>

  <body>
    <nav>
    </nav>
      <!-- <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->
      <%= yield %>
  </body>
</html>
