<!DOCTYPE html>
<html>
  <head>
    <title>Aandtr1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    	<%= link_to "Content", admin_pages_path %>
    	<%= link_to "Categories", admin_categories_path %>
      <%= link_to "Menus", admin_menus_path %>
      <%= link_to "Types", admin_types_path %>
    </nav>
      <%= yield %>
  </body>
</html>
